

<table>
  <thead>
    <tr>
      <th>courses_id</th>
      <th>courses_name</th>
      <th>title</th>
      <th>description</th>
      <th>create_at</th>
      <th>update_at</th>
      <th>price</th>
      <th>Several_chapters</th>
      <th>Length</th>
      <th>numberOfViewers</th>
      <th>Video</th>
      <th>TaskFiles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fl of admin, let i = index">
      <td>{{ fl?.courses_id }}</td>
      <td>{{ fl?.courses_name }}</td>
      <td>{{ fl?.title }}</td>
      <td>{{ fl?.description }}</td>
      <td>{{ fl?.create_at | date:"dd/MM/yy"}}</td>
      <td>{{ fl?.update_at | date:"dd/MM/yy"}}</td>
      <td>{{ fl?.price }}</td>
      <td>{{ fl?.several_chapters }}</td>
      <td>{{ fl?.length }}</td>
      <td>{{ fl?.numberOfViewers }}</td>
      <td>{{ fl?.videoURL }}</td>
      <td>{{ fl?.taskFilesURL }}</td>
      <td><button (click)="onEdit(i)">Edit</button></td>
      <td><button (click)="onDelete(fl?.courses_id)">delete</button></td>
    </tr>
  </tbody>
</table>

<ng-template #dialogTemplate>
  <div class="dialog-container">
    <label>courses_id: </label><input type="number" #txtcourses_id value="{{Admin?.courses_id}}"><br><br>
    <label>courses_name: </label><input type="text" #txtcourses_name value="{{Admin?.courses_name}}" required><br><br>
    <label>title: </label><input type="text" #txttitle value="{{Admin?.title}}" required><br><br>
    <label>description: </label><input type="text" #txtdescription value="{{Admin?.description}}" required><br><br>
    <label>price: </label><input type="number" #txtprice value="{{Admin?.price}}" required><br><br>
    <label>several_chapters: </label><input type="number"  #txtseveral_chapters value="{{Admin?.several_chapters}}" required><br><br>
    <label>length: </label><input type="text" #txtlength value="{{Admin?.length}}" required><br><br>
    <label>numberOfViewers: </label><input type="number" #txtnumberOfViewers value="{{Admin?.numberOfViewers}}" required><br><br>
    
    <label>Video: </label>
    <input type="button" value="לבחירת סרטון:" (click)="videoFileComponent.triggerFileInput()"><br><br>
    
    <label>TaskFiles: </label>
    <input type="button" value="לבחירת קובץ:" (click)="taskFileComponent.triggerFileInput()"><br><br>
    
    <app-uploading-file #taskFileComponent (fileNameSelected)="onFileNameSelected($event)"></app-uploading-file>
    <app-uploading-video #videoFileComponent (videoNameSelected)="onVideoNameSelected($event)"></app-uploading-video>

    <div *ngIf="selectedFileName">
      <p>Selected File: {{ selectedFileName }}</p>
    </div>

    <div *ngIf="selectedVideoName">
      <p>Selected Video: {{ selectedVideoName }}</p>
    </div>
    
    <br><br>
    <button (click)="onSave(txtcourses_id.value, txtcourses_name.value, txttitle.value, txtdescription.value,
      txtprice.value, txtseveral_chapters.value, txtlength.value, txtnumberOfViewers.value); closeDialog()">Save</button>
  </div>
</ng-template>

<button mat-button (click)="initializeNewCourse(); openDialog()">Add Course</button>
