<div class="mb-4">
    <div class="form-group row">
      <label for="searchTerm" class="col-sm-2 col-form-label">חיפוש משתמש:</label>
      <div class="col-sm-4">
        <input type="text" id="searchTerm" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" class="form-control" placeholder="הזן שם או אימייל  ">
      </div>
    </div>
  </div>
      <div class="container mt-5">
        <h2 class="mb-4">רשימת משתמשים</h2>
        <table class="table table-striped">
          <thead class="thead-dark">
        <tr>
          <th>מזהה</th>
          <th>שם</th>
          <th>אימייל</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers" (click)="navigateToDetails(user)">
          <td>{{ user.code }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
