
   <!-- <div class="course-lessons-container">
    <div class="sidebar">
      <p class="header-text">{{ courseName }}</p>
      <p class="header-text">השיעורים שלי</p>
      <div *ngFor="let lesson of lessons; let i = index" class="lesson-card">
        <div class="lesson-button-container">
          <button (click)="toggleLesson(lesson.class_id)" class="lesson-button">
            {{ lesson.title }}
          </button>
        </div>
        <div [@expandCollapse]="lesson.expanded" class="lesson-details">
          <a (click)="selectVideo(lesson.video_url, i, lesson.title)" class="custom-link">צפה בסרטון</a>
          <a (click)="downloadAndNavigate(lesson)" class="custom-link">הורדת קבצי משימה</a>
          <a (click)="UploadFilesForFeedback(lesson)" class="custom-link">העלאת קבצים למשוב</a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div *ngIf="selectedVideoUrl" class="video-container">
        <p>Lesson {{ selectedLessonIndex + 1 }} of {{ lessons.length }}: {{ selectedLessonTitle }}</p>
        <video width="100%" height="auto" controls controlsList="nodownload">
          <source [src]="selectedVideoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
   -->

   <div class="course-lessons-container">
    <div class="sidebar">
      <p class="header-text">{{ courseName }}</p>
      <p class="header-text">השיעורים שלי</p>
      <!-- <app-progressbar [userId]="userId" [coursesId]="courseId"></app-progressbar> הקומפוננטה החדשה -->
      <div *ngFor="let lesson of lessons; let i = index" class="lesson-card">
        <div class="lesson-button-container">
          <button (click)="toggleLesson(lesson.class_id)" class="lesson-button">
            {{ lesson.title }}
          </button>
        </div>
        <div [@expandCollapse]="lesson.expanded" class="lesson-details">
          <a (click)="selectVideo(lesson.video_url, i, lesson.title)" class="custom-link">צפה בסרטון</a>
          <a (click)="downloadAndNavigate(lesson)" class="custom-link">הורדת קבצי משימה</a>
          <a (click)="UploadFilesForFeedback(lesson)" class="custom-link">העלאת קבצים למשוב</a>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div *ngIf="selectedVideoUrl" class="video-container">
        <p>Lesson {{ selectedLessonIndex + 1 }} of {{ lessons.length }}: {{ selectedLessonTitle }}</p>
        <video width="100%" height="auto" controls controlsList="nodownload">
          <source [src]="selectedVideoUrl" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>