/* הגדרת מפתח האנימציה */
.animate-pulse {
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
/* .progress-label.animate-pulse {
  animation: pulse 1s ease-in-out; /* הפעלת האנימציה למשך שניה */
/* } */ 


.progress-container {
  position: relative; /* מאפשר מיקום יחסי לתוך הקונטיינר */
  height: 48px; /* גובה הקונטיינר, הכפלה פי 2 */
  margin-bottom: 16px; /* רווח תחתון */
}

.progress-bar {
  width: 100%; /* רוחב מלא של סרגלי ההתקדמות */
  height: 24px; /* גובה סרגלי ההתקדמות, הכפלה פי 2 */
  position: absolute; /* מיקום מוחלט כדי לאפשר כיסוי אחד של השני */
}

.pass {
  z-index: 0; /* סרגל העובר מתחת לסרגל הנוכחי */
}

.current {
  z-index: 1; /* סרגל הנוכחי מעל הסרגל העובר */
}

.progress-label {
  position: absolute; /* מאפשר מיקום מוחלט בתוך הקונטיינר */
  top: 0; /* מיקום התווית מעל סרגל ההתקדמות */
  transform: translateX(-50%); /* מיקום התווית למרכז */
  white-space: nowrap; /* מניעת ירידת הטקסט לשורה חדשה */
  transition: opacity 0.5s ease-in-out; /* הגדרת transition */
}

.progress-label.animate {
  opacity: 0.5; /* המצב שאליו עוברים במהלך האנימציה */
}

.pass-label {
  top: -25px; /* מיקום התווית של ציון עובר מעל הסרגל */
  color: #f59e0b; /* צבע התווית של ציון עובר */
  display: flex; /* מאפשר יישור של המלבן והטקסט */
  align-items: center; /* מיישר את המלבן והטקסט למרכז אנכי */
}

.current-label {
  top: 25px; /* מיקום התווית של ציון נוכחי מתחת לסרגל */
  color: #3b82f6; /* צבע התווית של ציון נוכחי */
}

.label-box {
  padding: 2px 5px; /* ריווח פנימי במלבן */
  color: white; /* צבע הטקסט */
  background-color: inherit; /* צבע רקע יורש */
  display: inline-block; /* מאפשר הרחבה לפי תוכן */
}

.pass-box {
  background-color: #f59e0b; /* צבע המלבן של ציון עובר */
}

.current-box {
  background-color: #3b82f6; /* צבע המלבן של ציון נוכחי */
}
.pass-label.animate-pulse {
  top: -25px; /* מיקום התווית של ציון עובר מעל הסרגל */
  color: #f59e0b; /* צבע התווית של ציון עובר */
  display: flex; /* מאפשר יישור של המלבן והטקסט */
  align-items: center; /* מיישר את המלבן והטקסט למרכז אנכי */

}

.current-label.animate-pulse {
  top: 25px; /* מיקום התווית של ציון נוכחי מתחת לסרגל */
  color: #3b82f6; /* צבע התווית של ציון נוכחי */

}
