<!-- <div class="container">
    <p style="font-size: 3cm;font-family:Summer Crab;text-align: center; color: rgb(194, 12, 76);">My courses</p>
    <div class="course-list">
      <div *ngFor="let course of homePageService.listCourse" class="course-card">
        <div class="course-button-container">
          <button (click)="toggleCourse(course.courses_id)" class="course-button">
            {{ course.courses_name }}
          </button>
        </div>
        <div *ngIf="course.expanded" class="lesson-list">
          <div *ngFor="let lesson of homePageService.listClasses" class="lesson-card"> -->
                            <!-- <div *ngIf="lesson.courses_id==course.courses_id"> -->
<!-- 
            <div class="lesson-button-container">
              <button (click)="toggleLesson(course.courses_id, lesson.class_id)" class="lesson-button">
                {{ lesson.title }}
              </button>
            </div> -->
        <!-- </div> -->
            <!-- <div *ngIf="lesson.expanded" class="lesson-details"> -->
              <!-- <p>{{ lesson.transcript }}</p> -->
<!-- <app-progressbar></app-progressbar>
              <div class="video-container">
                <video width="320" height="240" controls>
                  <source [src]="lesson.video_url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <br>
              
              <a [href]="lesson.video_url"download> </a>
              <a (click)="downloadAndNavigate(lesson)">הורדת קבצי משימה</a>
              <br>
              <a (click)="UploadFilesForFeedback(lesson)">העלאת קבצים למשוב  </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="container">
    <p style="font-size: 3cm; font-family: Summer Crab; text-align: center; color: rgb(194, 12, 76);">My courses</p>
    <div class="course-list">
      <div *ngFor="let course of homePageService.listCourse" class="course-card">
        <div class="course-button-container">
          <button (click)="toggleCourse(course.courses_id)" class="course-button">
            {{ course.courses_name }}
          </button>
        </div>
        <div *ngIf="course.expanded" class="lesson-list">
          <div *ngFor="let lesson of homePageService.listClasses" class="lesson-card">
            <div *ngIf="lesson.courses_id === course.courses_id" class="lesson-button-container">
              <button (click)="toggleLesson(course.courses_id, lesson.class_id)" class="lesson-button">
                {{ lesson.title }}
              </button>
            </div>
            <div *ngIf="lesson.expanded && lesson.courses_id === course.courses_id" class="lesson-details"> -->
              <!-- <p>{{ lesson.transcript }}</p> -->
              <!-- <app-progressbar></app-progressbar>
              <div class="video-container">
                <video width="320" height="240" controls>
                  <source [src]="lesson.video_url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <br>
              <br>
            
              <a [href]="lesson.video_url"download> </a>
              <a (click)="downloadAndNavigate(lesson)">הורדת קבצי משימה</a>
              <br>
              <a (click)="UploadFilesForFeedback(lesson)">העלאת קבצים למשוב  </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <div class="container">
    <p style="font-size: 3cm; font-family:Fb Parmesan Light; text-align: center; color: rgb(194, 12, 76);">הקורסים שלי</p>
    <div class="course-list">
      <div *ngFor="let course of userCourses" class="course-card">
        <div class="course-button-container">
          <button (click)="toggleCourse(course.courses_id)" class="course-button">
            {{ course.courses_name }}
          </button>
        </div>
        <div *ngIf="course.expanded" class="lesson-list">
          <div *ngFor="let lesson of homePageService.listClasses" class="lesson-card">
            <div *ngIf="lesson.courses_id === course.courses_id" class="lesson-button-container">
              <button (click)="toggleLesson(course.courses_id, lesson.class_id)" class="lesson-button">
                {{ lesson.title }}
              </button>
            </div>
            <div *ngIf="lesson.expanded && lesson.courses_id === course.courses_id" class="lesson-details">
              <!-- <p>{{ lesson.transcript }}</p> -->
              <app-progressbar></app-progressbar>
              <div class="video-container">
                <video width="320" height="240" controls>
                  <source [src]="lesson.video_url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <br>
              <br>
              <a [href]="lesson.video_url" download>Download Video</a>
              <a (click)="downloadAndNavigate(lesson)">הורדת קבצי משימה</a>
              <br>
              <a (click)="UploadFilesForFeedback(lesson)">העלאת קבצים למשוב</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>