<!-- <div *ngFor="let course of listCourse">

    <h3>{{ course.courseName}}  שם קורס</h3>
    
    <p>{{ course.price }} מחיר</p>
    <p>{{ course.NumberOfEpisodes }} כמות פרקים</p>
    <p>להוסיף פרטים על הקורס</p>

    </div> -->

    <div class="container">
      <p style="font-size: 3cm;font-family:Summer Crab;text-align: center; color: rgb(194, 12, 76);">Online courses</p>
      <div class="row" style="justify-content: center;">
          <div *ngFor="let course of homePageService.listCourse" class="col-md-4">
              <div class="card mb-4">
                  <img class="card-img-top" src="../../../assets/pic/pic1.jpg" alt="Card image" style="width:100%">
                  <div class="card-body">
                      <h4 class="card-title">{{ course.courses_name }}</h4>
                      <p class="card-text">{{ course.price }} מחיר</p>
                      <a href="#" class="btn btn-pink">See Profile</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
   
    <!-- ,public courseName?:string//שם קורס
    ,public NumberOfEpisodes?:number//כמות פרקים
    ,public price?:number//מחיר
    ,public recommendations?:string //המלצות
    ,public length?:number//אורך
    ,public numberOfViewers?:number//כמות צופים
    ,public productionDate?:Date//תאריך יצירה
    ,public lastEntry?:Date//כניסה אחרונה
    ,public CourseDescription?:string//תאור קורס
   ,public lastModifiedDate?:Date){};//תאריך שינוי אחרון -->
    
