
<p>admin-customer-approval works!</p>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Approval Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.UserId }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.is_approved ? 'Approved' : 'Not Approved' }}</td>
        <td><input type="checkbox" [ngModel]="user.is_approved" (ngModelChange)="user.is_approved = !user.is_approved"></td>

         <!-- <td><input type="checkbox" [(ngModel)]="user.is_approved"></td> -->
      </tr>
    </tbody>
  </table>
  

  <button (click)="saveChanges()">Save</button>
  
