
<p>admin-customer-approval works!</p>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Approval Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.code }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password ? 'Approved' : 'Not Approved' }}</td>
        <td><input type="checkbox" [ngModel]="user.password" (ngModelChange)="user.isConfirmed = !user.isConfirmed"></td>

         <!-- <td><input type="checkbox" [(ngModel)]="user.is_approved"></td> -->
      </tr>
    </tbody>
  </table>
  

  <button (click)="saveChanges()">Save</button>
  
