/* .circle-progress-container {
    width: 100%;
    background-color: #29b40a;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #1ed72a;
    transition: width 0.3s;
  }
  
  .progress-bar-text {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
  } */
  /* .progress-text {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
.percent{
  font-size: 40px;
  background-color: #98863b;
} */