<!-- <div class="progress-bar-container">
    <div class="progress-bar" [style.width.%]="progress"></div>
  </div>
  <div class="progress-text">{{ progress.toFixed(2) }}%</div>
   -->
   <div class="circle-progress-container">
   <circle-progress
   [backgroundColor]="'color(194, 12, 76)'"
  [backgroundOpacity]="30"
  [percent]="progress"
  [radius]="70"
  [outerStrokeWidth]="4"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'rgb(194, 12, 76)'"
  [innerStrokeColor]="'rgb(194, 12, 76)'"
  [animation]="true"
  [animationDuration]="900"
  [titleColor]="'rgb(194, 12, 76)'"
  [titleFontSize]="'35'"
  [subtitleColor]="'rgb(194, 12, 76)'"
  [subtitle]="' אחוזים מהקורס הושלמו'"
  [subtitleFontSize]="'11'" 

></circle-progress>



<!-- <div class="circle-progress-text">
  <div class="title">{{ progress.toFixed(2) }}%</div>
  <div class="subtitle"> אחוזים מהקורס<br>הושלמו </div>
</div>
</div> -->

