
<app-menu></app-menu>
<!-- <app-vidio></app-vidio> -->

<app-video-transcript></app-video-transcript>
<!-- <app-task-files [videoId]="1"></app-task-files> -->
<!-- <app-file-upload></app-file-upload><app-admin></app-admin> -->
<app-uploading-file></app-uploading-file>
<!-- <app-admin-search-user></app-admin-search-user> -->
<!-- <app-video-transcription></app-video-transcription> -->
<!-- <app-course-list></app-course-list>
<app-admin-customer-approval></app-admin-customer-approval>
<div>
    <h1>הורדת קבצי משימה</h1>
    
    <app-task-files [videoId]="1"></app-task-files>
    <app-feedback [userId]="123"></app-feedback>
  </div>
  <div>
    <app-progressbar [totalParts]="totalParts" [watchedParts]="watchedParts"></app-progressbar> -->
    <!-- <app-progressbar></app-progressbar> -->

     <!-- <app-admin-cours-for-user></app-admin-cours-for-user> -->
    <!-- <app-course-list></app-course-list> -->

     <!-- <app-admin></app-admin>
 -->
