<!-- <div class="accessibility-button">
    <button *ngIf="isReading" (click)="stopReading()" class="reading-icon" mat-icon-button color="primary">
      <mat-icon>volume_up</mat-icon>
    </button>
    <button [matMenuTriggerFor]="menuTrigger" mat-icon-button color="primary">
      <mat-icon>accessible_forward</mat-icon>
    </button>
    <mat-menu #menuTrigger="matMenu">
      <button mat-menu-item (click)="handleAccessibilityOption('textReader')">
        <mat-icon>visibility</mat-icon> קורא טקסטים
      </button>
      <button mat-menu-item (click)="handleAccessibilityOption('highlightHeadlines')">
        <mat-icon>highlight</mat-icon> הדגשת כותרות
      </button>
      <button mat-menu-item (click)="handleAccessibilityOption('enlargeText')">
        <mat-icon>format_size</mat-icon> הגדלת כתב
      </button>
      <button mat-menu-item (click)="handleAccessibilityOption('invertColors')">
        <mat-icon>invert_colors</mat-icon> היפוך צבעים
      </button>
      <button mat-menu-item (click)="handleAccessibilityOption('enlargePointer')">
        <mat-icon>mouse</mat-icon> הגדלת סמן
      </button>
      <button mat-menu-item (click)="handleAccessibilityOption('resetAccessibility')">
        <mat-icon>close</mat-icon> איפוס נגישות
      </button>
    </mat-menu>
  </div>
   -->