

<div>
  <h2>Check User Existence</h2>
  <form [formGroup]="userForm" (ngSubmit)="checkUser()">
    <label>Email:</label>
    <input type="email" formControlName="Email">
    <div *ngIf="userForm.get('Email')?.invalid && (userForm.get('Email')?.dirty || userForm.get('Email')?.touched)">
      <div *ngIf="userForm.get('Email')?.errors?.['required']">Email is required.</div>
      <div *ngIf="userForm.get('Email')?.errors?.['email']">Please enter a valid email address.</div>
    </div>
    <br>
    <label>Password:</label>
    <input type="password" formControlName="password_has">
    <div
      *ngIf="userForm.get('password_has')?.invalid && (userForm.get('password_has')?.dirty || userForm.get('password_has')?.touched)">
      <div *ngIf="userForm.get('password_has')?.errors?.['required']">Password is required.</div>
      <div *ngIf="userForm.get('password_has')?.errors?.['minlength']">Password must be at least 6 characters long.
      </div>
    </div>
    <br>
    <button type="submit" [disabled]="userForm.invalid">Check User</button>
  </form>
</div>