<div class="admin-forum-container">
    <h1>פורום מנהל</h1>
    
    <div class="questions-list">
      <h2>שאלות</h2>
      <div *ngFor="let question of questions">
        <div class="question">
          <p><strong>{{ question.text }}</strong>
          <div class="flex"><button (click)="editQuestion(question)" class="b1" mat-raised-button>עריכה</button><button (click)="deleteQuestion(question)" class="b1" mat-raised-button>מחיקה</button></div>
          <br>
          <div *ngFor="let answer of question.answers" class="answer">
            <p>{{ answer.text }}</p>
            <div *ngIf="answer.files && answer.files.length > 0">
              <p>Files:</p>
              <ul>
                <li *ngFor="let file of answer.files">
                  <a [href]="file.url" download>{{ file.name }}</a>
                </li>
              </ul>
            </div>
            <div class="flex">
            <button (click)="editAnswer(question, answer)" class="b1" mat-raised-button>עריכה</button>
            <button (click)="deleteAnswer(question, answer)" class="b1" mat-raised-button>מחיקה</button></div>
          </div>
          <form (ngSubmit)="submitAnswer(question)">
            <input type="text" [(ngModel)]="question.newAnswer" name="answer" placeholder="Answer" required>
            <input type="file" (change)="onFileSelected($event, question)" multiple>
            <button type="submit" class="b2" mat-raised-button>שליחה</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
