
<!-- <div class="video-container">
  <video #videoPlayer width="600" controls>
    <source [src]="currentVideoClass" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  
  <!-- <video width="320" height="240" controls controlsList="nodownload">
    <source src="{{videoUrl}}" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->


  <div class="video-container">
    <video width="600" controls [src]="videoUrl"> <!-- שימוש במשתנה videoUrl להצגת הווידאו -->
      Your browser does not support the video tag.
    </video>
  </div>
  <app-video-transcript></app-video-transcript>

  <div class="pdf-container">
    <iframe [src]="pdfUrl" width="100%" height="500px">
      Your browser does not support iframes.
    </iframe>
  </div>
  