<body>
<h2 class="mb-4" *ngIf="!(userCoursesList$|async)?.length">לא נמצאו קורסים</h2>
<h2 class="mb-4" *ngIf="(userCoursesList$|async)?.length">רשימת קורסים של {{userName}}</h2>
<table class="table table-striped" *ngIf="(userCoursesList$|async)?.length">
  <thead class="thead-dark">
<tr>
  <th>קוד</th>
  <th>שם</th>
  <th>מחיר</th>
  <!-- <th>כמות פרקים</th> -->
  <th>מספר צופים</th>
  <th>תאור הקורס</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let cours of (userCoursesList$ | async) " >
  <td>{{ cours.courses_id  }}</td>
  <td>{{ cours.courses_name }}</td>
  <td>{{ cours.price }}</td>
  <!-- <td>{{ cours.NumberOfEpisodes }}</td> -->
  <td>{{ cours.numberOfViewers }}</td>
  <td>{{ cours.description }}</td>
  <button class="btn btn-primary"(click)="delcours(cours.courses_id)">למחיקה</button>
</tr>
</tbody>
</table>
<h3>הוספת קורס עבור {{userName}}</h3>
<div class="mb-4">
    <div class="form-group row">
      <label for="searchTerm" class="col-sm-2 col-form-label">חיפוש קורס:</label>
      <div class="col-sm-4">
        <input type="text" id="searchTerm" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" class="form-control" placeholder="הזן שם או קוד קורס  ">
      </div>
    </div>
  </div>
      <div class="container mt-5">
        <h2 class="mb-4">רשימת קורסים</h2>
        <table class="table table-striped">
          <thead class="thead-dark">
        <tr>
          <th>קוד</th>
          <th>שם</th>
          <th>מחיר</th>
          <!-- <th>כמות פרקים</th> -->
          <th>מספר צופים</th>
          <th>תאור הקורס</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cours of filteredCours" >
          <td>{{ cours.courses_id  }}</td>
          <td>{{ cours.courses_name }}</td>
          <td>{{ cours.price }}</td>
          <!-- <td>{{ cours.NumberOfEpisodes }}</td> -->
          <td>{{ cours.numberOfViewers }}</td>
          <td>{{ cours.description }}</td>
          <button class="btn btn-primary"(click)="addcours(cours.courses_id)">להוספה</button>
        </tr>
      </tbody>
    </table>
  </div>
</body>