<div class="signup-container">
  <div class="signup-popup">
    <h1>הרשמה</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <input id="name" formControlName="name" type="text" placeholder="שם משתמש">
        <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
          שם המשתמש נדרש.
        </div>
      </div>

      <div>
        <input id="password" formControlName="password" type="password" placeholder="סיסמה">
        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          הסיסמה נדרשת וצריכה לכלול לפחות 6 תווים, אותיות גדולות, אותיות קטנות ומספרים.
        </div>
      </div>
      <div>

        <input id="email" formControlName="email" type="email" placeholder="אימייל">
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          הכנס כתובת אימייל תקינה.
        </div>
      </div>

      <div class="button-group">
        <button type="submit" [disabled]="signupForm.invalid">הרשמה</button>
        <button type="button" (click)="cancel()">ביטול</button>
      </div>
    </form>

    <div *ngIf="submitted">
      נרשמת בהצלחה!
    </div>

    <p>כבר יש לך חשבון? <a routerLink="/login">התחבר כאן</a></p>
  </div>
</div>
