/* /* General Navbar Styles */
.navbar {
  background-color: #222;
  padding: 10px 20px;
}

.nav-link {
  color: #ce041b !important;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
}

.nav-item {
  margin-right: 20px;
}

 /* Dropdown Menu Styles  */
 .mat-menu-content {
  background-color: #333;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 0;
}

.mat-menu-item {
  color: #ffffff !important;
  padding: 10px 20px;
}

.mat-menu-item:hover {
  background-color: #444 !important;
}

.mat-button.nav-link {
  padding: 0;
  font-weight: 600;
  color: #ffffff !important;
  background: none;
  border: none;
  cursor: pointer;
}
