

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <img src="../../../assets/logo.png" class="rounded" alt="Cinque Terre" width="100" height="50"> 
  
        <li class="nav-item">
          <a class="nav-link" href="#">תמונות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">סרטונים</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">המלצות</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">יצירת קשר</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">קורסים אונליין</a>
        </li>
      </ul>
    </div>
  
  </nav>
  
  